* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*this is a css reset*/
body {
  background-color: blue;
}
/*added a background color to body element*/
.container {
  width: 100%;
  height: 100vh;
  background-color: red;
}

header {
  height: 10vh;
  background-color: green;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.main {
  height: 80vh;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  height: 0vh;
  background-color: red;
}

/*font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;*/
span {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 2em;
  text-transform: uppercase;
}
ul li {
  display: inline-block;
}
ul li a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  padding: 0 8px;
  color: white;
  text-transform: uppercase;
}
ul li a:hover {
  color: red;
}
nav {
  margin-left: auto;
}

#table-data {
  color: black;
  background-color: yellow;
  /*padding: 1em;*/
  font-family: 'Montserrat', sans-serif;
}
#table-data tr td {
  padding: 0.5em 2em;
  font-size: 1.5em;
}
#table-data tr th {
  padding: 0.5em 2em;
  font-size: 1.5em;
  text-align: left;
  color: black;
}
.red-row {
  background-color: tomato;
}
.green-row {
  background-color: orange;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
